<form action="/survey/create" method="post" id="create_form">
  <label for="survey[title]">Title:</label>
  <input type="textarea" name="survey[title]">


</form>

<form id="add_type" class="hidden">
  <fieldset id="current_question">
    <legend>Add field to current question</legend>

    <label for="field_type">Type:</label>
    <select name="field_type">
      <option value="radio">Radio</option>
      <option value="checkbox">Checkbox</option>
      <option value="text">Text</option>
    </select>

    <label for="name">Value:</label>
    <input type="text" name="name">
    <input type="submit" value="Add field" id="add_field">
  </fieldset>
</form>


<form id="question_form">
  <fieldset>
    <legend>Add Question</legend>

    <label for="question[question]">Title:</label>
    <input type="text" name="question[question]">
    <input type="submit" value="Add question" id="add_question">
  </fieldset>
</form>