<form action="/survey/new" method="post" id="create_form">
  <label for="survey[title]">Title:</label>
  <input class="title" type="text" name="survey[title]">
  <input type="submit" value="Save" id="add_title">
</form>
