.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
nav li {
  list-style-type: none;
}
nav a {
  float: right;
  display: ;
  margin-left: 10px;
  text-decoration: none;
}
.survey_buttons{
  display: flex;
}
#take_surveys, #create_survey{
  margin: 0 10px;
}
#don {
  width: 50%;
}
th{
  text-decoration: underline;
}
td{
text-align:center;
}
a {
  text-decoration: none;
}
