.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
nav li {
  list-style-type: none;
}
nav a {
  float: right;
  display: ;
  margin-left: 10px;
  text-decoration: none;
}
#take_surveys, #create_survey{

}
