

<h1>Welcome to SurveyDon!</h1>

<img id="don" src="http://i.imgur.com/xawwe2D.png"/>

<% if session[:user_id] %>
<p>Hello, <a href="/user_profile"><%= @user.username %></a>!</p>
<% end %>

<p>
<div class="survey_buttons">
  <form method="get" action="/surveys">
    <input type="submit" id="take_surveys" value="Take a Survey!">
  </form>
  <form method="get" action="/surveys/create">
    <input type="submit" id="create_survey" value="Create a Survey!">
  </form>
</div><br>

