<div class="container">
  <h1>Login/Signup</h1>

  <h2>Login</h2>

    Username: <input class="login" type="text" name="login[username]"><br>
    Password: <input class="login" type="password" name="login[password_hash]"><br><br>

    <input id="login_submit" class="submit" type="submit" value="Submit">

  <h2>Create new account</h2>

    Username: <input class="create" type="text" name="create[username]"><br>
    Password: <input class="create" type="password" name="create[password_hash]"><br><br>

    <input id="create_submit" class="submit" type="submit" value="Submit">
</div>
