
<h1>Signup</h1>

  Username: <input class="create" type="text" name="create[username]"><br>
  Password: <input class="create" type="password" name="create[password_hash]"><br><br>

  <input id="create_submit" class="submit" type="submit" value="Submit">

