<h1>Here are the Surveys:</h1>



<table>
  <tr>
    <th>Survey Name</th>
    <th>Created By</th>
  </tr>
<% @surveys.each do |survey| %>
  <tr>
    <td><a href="/survey/<%= survey.id %>"><%= survey.title %></a></td>
    <td><%= survey.user.username %></td>
  </tr>
<% end %>
</table>
