<h1><%=@survey.title%> Results</h1>
<h3><%= @surveyed_users.count %> users have taken your survey:</h3>
<ul>
<% @surveyed_users.each do |user|%>
  <li><%= User.find(user.user_id).username %></li>
<% end %>
</ul>
